
* {
    box-sizing: border-box;
}

body {
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    padding: 0px;
}

header {
    position: fixed;
    height: 15%;
    font-family: 'Roboto Mono', monospace;
    background-color:black;
    width: 100%;
    margin-top: -20px;
    text-align: center;
    padding: 20px;
}

main {
    padding-top: 10%;
}

ul {
    list-style-type: square;
}
li {
    padding: 3px;
}



a:link, a:visited {
    color:white;
    text-decoration: none;
  }
a:hover{
    font-weight: bolder;

}

 p {
     font-weight: bold;
 }



  